<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>371220750358-99p87g169fs4nvt58vovuhei4eicd4qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371220750358-99p87g169fs4nvt58vovuhei4eicd4qc</string>
	<key>API_KEY</key>
	<string>AIzaSyCRJlnTlVfUnWgXbo3sQYRlez6L8FjXgQo</string>
	<key>GCM_SENDER_ID</key>
	<string>371220750358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brettmwright.SeenSurfer</string>
	<key>PROJECT_ID</key>
	<string>seensurfer</string>
	<key>STORAGE_BUCKET</key>
	<string>seensurfer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371220750358:ios:5815d4254fef1e1f</string>
	<key>DATABASE_URL</key>
	<string>https://seensurfer.firebaseio.com</string>
</dict>
</plist>